.idea
node_modules

yarn.lock

/log/*.log

package-lock.json
.env

/avatars/*.jpeg
/avatars/*.jpg
/avatars/*.png

/uploads/*.jpeg
/uploads/*.jpg
/uploads/*.png
/uploads/*.mp4
/uploads/*.mp3

/import_export_database/*
